.switch-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-container .switch-button {
  position: absolute;
}

.switch-checkbox:checked + .switch-container .switch-button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.switch-disabled-container {
  outline: 1px solid #eaeaea;
  background-color: #f7f7f7;
  cursor: not-allowed;
}

.switch-disabled-container .switch-disabled-button {
  background-color: #eaeaea;
}

@media screen and (max-width: 991px) {
  .switch-container {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .switch-container {
    transform: scale(0.825);
  }
}

@media screen and (max-width: 575px) {
  .switch-container {
    transform: scale(0.75);
  }
}
