.switch-label .switch-rect-button {
  content: "";
  width: 0.4rem;
  height: 1.285rem;
  border-radius: 1rem;
  box-shadow: 0 0 1px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 0.25rem);
  transform: translateX(-100%);
}
