.slider_track,
.slider_range {
  border-radius: 3px;
  height: 2px;
  position: absolute;
}

.slider_track {
  background-color: #cbcbcb;
  width: 100%;
  z-index: 1;
}

.slider_range {
  background-color: #000;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

.slider_left-value,
.slider_right-value {
  font-size: 12px;
  margin-top: 20px;
  position: absolute;
}

.slider_left-value {
  left: 6px;
}

.slider_right-value {
  right: -4px;
}
