.switch-label .switch-round-button {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 1px 0 rgba(10, 10, 10, 0.29);
}

.switch-label:active .switch-round-button {
  width: 1.35rem;
}
